<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Lista Ventas</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div *ngIf="datos">
                <mat-form-field>
                  <mat-label>buscar</mat-label>
                  <input matInput (keyup)="applyFilterVentas($event)" placeholder="Filtro" #input>
                </mat-form-field>
                <table mat-table [dataSource]="datosInsertados" class="table" matSort>
                  <thead class="text-primary">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>ID</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>NOMBRE</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="precioventa">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>PRECIOVENTA</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.precioventa}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>CANTIDAD</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
                    </ng-container>
                    <ng-container matColumnDef="codigo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>CODIGO</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="venta">
                      <th mat-header-cell *matHeaderCellDef>
                        <h4>VENTA</h4>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <i class="fas fa-paper-plane" (click)="openModalVenta(templateVenta, row)"></i>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </thead>
                </table>
                <div class="text-right col-md-12">
                  <mat-paginator matSort [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #templateVenta>
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="registroVenta" (ngSubmit)="editarventa()">
          <div class="card-body p-md-2 mx-md-1">
            <div class="col-lg-12">
              <div class="text-center">
                <H2>REGISTRA VENTA</H2><br>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <label>Nombre producto</label>
                    <input matInput type="text" readonly formControlName="nombre" placeholder="Nombre">
                  </mat-form-field>
                  <small *ngIf="getNombre.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                    carácteres</small>
                  <small *ngIf="getNombre.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                    carácteres</small>
                  <small
                    *ngIf="getNombre.invalid  && getNombre.touched && !getNombre.errors?.minlength && !getNombre.errors?.maxlength"
                    class="text-danger animated fadeIn">Campo requerido</small>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <label>Precio producto</label>
                    <input matInput type="number" formControlName="precioventa" placeholder="Precioventa">
                  </mat-form-field>
                  <small *ngIf="getPrecioventa.errors?.minlength" class="text-danger animated fadeIn">Mínimo 1
                    carácteres</small>
                  <small *ngIf="getPrecioventa.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                    carácteres</small>
                  <small
                    *ngIf="getPrecioventa.invalid  && getPrecioventa.touched && !getPrecioventa.errors?.minlength && !getPrecioventa.errors?.maxlength"
                    class="text-danger animated fadeIn">Campo requerido</small>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" disabled=true formControlName="cantidad" placeholder="Cantidad">
                  </mat-form-field>
                  <small *ngIf="getCantidad.errors?.minlength" class="text-danger animated fadeIn">Mínimo 1
                    carácteres</small>
                  <small *ngIf="getCantidad.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                    carácteres</small>
                  <small
                    *ngIf="getCantidad.invalid  && getCantidad.touched && !getCantidad.errors?.minlength && !getCantidad.errors?.maxlength"
                    class="text-danger animated fadeIn">Campo requerido</small>
                  <mat-error *ngIf="ventaMayor" class="text-danger animated fadeIn">La cantidad supera las existencias
                    en el inventario</mat-error>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Ingrese su descripción </mat-label>
                    <input matInput type="text" placeholder="Descripcion">
                    <small *ngIf="getDescripcion.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                      carácteres</small>
                    <small *ngIf="getDescripcion.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                      carácteres</small>
                    <small
                      *ngIf="getDescripcion.invalid  && getDescripcion.touched && !getDescripcion.errors?.minlength && !getDescripcion.errors?.maxlength"
                      class="text-danger animated fadeIn">Campo requerido</small>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <label>Codigo</label>
                    <input matInput type="text" readonly formControlName="codigo" placeholder="Codigo">
                  </mat-form-field>
                  <small *ngIf="getCodigo.errors?.minlength" class="text-danger animated fadeIn">Mínimo 4
                    carácteres</small>
                  <small *ngIf="getCodigo.errors?.maxlength" class="text-danger animated fadeIn">Máximo 15
                    carácteres</small>
                  <small
                    *ngIf="getCodigo.invalid  && getCodigo.touched && !getCodigo.errors?.minlength && !getCodigo.errors?.maxlength"
                    class="text-danger animated fadeIn">Campo requerido</small>
                </div>
                <div class="col-md-6 form-group mt-4">
                  <button type="submit" class="btn btn-success" >GUARDAR COMPRA</button>
                </div>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </ng-template>