<div class="col-md-12 mb-3 form-group" > 
    <div class="container py-8">
      <div class="card rounded-3 text-black">
        <br>
        <br>
        <br>
        <div class="text-center">
          <H2>Listado de tiendas</H2><br>
          <H3>señor usuario seleccione uno de los almacenes para consultar el listado de productos  </H3>
        </div>
   
            <div *ngIf="datos">
        
                    <div class="col-md-4 mb-3 form-group">
                        <i class="fa fa-search mr-2" style="font-size: 20px;"></i>                  
                   
            
                    <div class="col-md-8 mb-3 form-group text-right">     
                  
                    <mat-form-field>
                      <mat-label>buscar</mat-label>
                      <input matInput (keyup)="applyFilteralmacenes($event)" placeholder="Filtro" #input>
                  </mat-form-field>   
                </div>
              </div> 

   
                    <table mat-table [dataSource]="datosInsertados" class="mat-elevation-z2" matSort style="width: 100%;">
                        <!-- idApiKey Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>NOMBRE</h4> </th>
                            <td mat-cell *matCellDef="let row"  style="cursor: pointer;"> {{row.nombre}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="imagen">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>IMAGEN</h4> </th>
                            <td mat-cell *matCellDef="let row"><img src="{{'data:image/jpg;base64,' + row.imagen}}" />  </td>
                        </ng-container>
  
                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>CORREO</h4> </th>
                            <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="telefono">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>TELEFONO</h4> </th>
                            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>DIRECCION</h4> </th>
                            <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
                    </table>        
                </div>               
            </div>
        </div>
</div>

      