<div class="container">
    <div class="row text-center login-page">
        <div class="col-md-12 login-form">
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-12 login-form-header">
                        <p class="login-form-font-header">Autolavado<span>Tifon</span>
                            <p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="usuario" type="text" placeholder="Usuario" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <input name="password" type="password" placeholder="Contraseña" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 login-from-row">
                        <button class="btn botonInicio" routerLink="/dashboard">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>