
  <body>
    <section class="vh-100 gradient-custom" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-white text-white" style="border-radius : 1rem; border: 1px solid rgba(236, 98, 6, 0.979);">
              <div class="card-body p-5 text-center">
    
                    <div class="text-center">
                    <h2>!Login atraves de cuenta Google!</h2>
                      <h4 class="mt-1 mb-5 pb-1"></h4>
                    </div>
                  
    
                    <form [formGroup]="loginForma" (ngSubmit)="loginUsuario()">
    
                      
                      <div class="form-outline form-white mb-4">
                       <button class="btn btn-primary  fa-lg rounded-pill" (click)="signInWithGoogle()">
                        <i class="fa fa-google"></i>  
                        Login Google</button>
    
                       
                    </div>
    
                    <label class="form-check-label" for="form2Example3">
                       Teminos y condiciones 
                      <a
                        class="text-muted"
                        (click)="
                          openModalEliminarRegistro(templateEliminarRegistro)
                        "
                      >
                      Ver  Terminos
                      </a>
                    </label>
                    <div class=" text-center">
    
    +                      
                 
         
                    
                     
                       
        
    
                  
                  </div>
                    </form>
                </div>
               
              </div>
            </div>
          </div>
      </div>
        </section>
    
        <ng-template #templateEliminarRegistro>
          <div class="modal-content">
            <div class="modal-body text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      
        
            <div class="modal-body">
              <h1>Tu contenido en nuestros Servicios</h1>
        
              <p class="masthead-subheading font-weight-light mb-0">
                Algunos de nuestros servicios te permiten enviar contenido. Si lo haces,
                seguirás siendo el titular de los derechos de propiedad intelectual que
                tengas sobre ese contenido. En pocas palabras, lo que te pertenece, tuyo
                es. Al subir contenido o al enviarlo por otros medios a nuestros
                Servicios, concedes a Google y a sus colaboradores una licencia mundial
                para usar, alojar, almacenar, reproducir, modificar, crear obras
                derivadas por ejemplo, las que resulten de la traducción, la adaptación
                u otros cambios que realicemos para que tu contenido se adapte mejor a
                nuestros Servicios, comunicar, publicar, ejecutar o mostrar públicamente
                y distribuir dicho contenido. Google usará los derechos que le confiere
                esta licencia únicamente con el fin de proporcionar, promocionar y
                mejorar los Servicios y de desarrollar servicios nuevos. Esta licencia
                seguirá vigente incluso cuando dejes de usar nuestros Servicios por
                ejemplo, en el caso de una ficha de empresa que hayas añadido a Google
                Maps. Algunos Servicios te permiten acceder al contenido que hayas
                proporcionado y eliminarlo.
              </p>
        
              <h1>Cómo modificar y cancelar nuestros Servicios</h1>
              <p class="masthead-subheading font-weight-light mb-0">
                Google cambia y mejora sus Servicios constantemente. Por ello, es
                posible que añadamos o eliminemos algunas funciones o características, o
                que suspendamos o cancelemos un Servicio por completo. Puedes dejar de
                usar los Servicios en cualquier momento, aunque lamentaríamos que así
                fuera. De igual modo, Google puede dejar de proporcionarte los Servicios
                o añadir o crear nuevas limitaciones en cualquier momento. Consideramos
                que eres el propietario de tus datos y que es importante preservar tu
                acceso a los mismos. Si interrumpimos un Servicio, en los casos en los
                que sea razonable, te informaremos con suficiente antelación y te
                permitiremos extraer la información del Servicio..
              </p>
            </div>
           
          </div>
        </ng-template>
        <div class="col-md-6" *ngIf ="user">
          <img src="{{user.photoUrl}}">
    
          <div>
              <h4>{{user.name}}</h4>
              <p>{{user.email}}</p>
          </div>
      </div>
    
    </body>
    
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Por favor, espere.</p>
</ngx-spinner>