 .fa-trash-o {
    content: "\f044";
    color: rgb(235, 94, 13);
  }
.fa-edit:before {
  content: "\f044";
  color: rgb(9, 83, 219);
}


.fa-eye:before {
    content: "\f06e";
    color: rgb(0, 129, 39);
}
