<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Listar Clientes</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div *ngIf="datos">
                <mat-form-field>
                  <mat-label>buscar</mat-label>
                  <input matInput (keyup)="applyFilterClientes($event)" placeholder="Filtro" #input>
                </mat-form-field>
                <table mat-table [dataSource]="datosInsertados" class="table" matSort>
                  <thead class=" text-primary">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>ID</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>NOMBRE</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>
                    <ng-container matColumnDef="correo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>CORREO</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="apellido">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>APELLIDO</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                    </ng-container>
                    <ng-container matColumnDef="telefono">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>TELEFONO</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h4>DIRECCION</h4>
                      </th>
                      <td mat-cell *matCellDef="let row"> {{row.direccion}} </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                      <th mat-header-cell *matHeaderCellDef>
                        <h4>EDITAR</h4>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <i class="fa fa-edit botonEditar"
                          (click)="openModalRegistroClientes(templateRegistro, row)"></i>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                      <th mat-header-cell *matHeaderCellDef>
                        <h4>ELIMINAR</h4>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <i class="fa fa-trash-o" (click)="eliminarClientealmacen(row.id)"></i>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </thead>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              <div class="col-md-6 form-group mt-4">
                <button class="btn btn-warning" type="button" (click)="openModalRegistroClientes(templateRegistro, '')">
                  REGISTRAR CLIENTES</button>
              </div>
            </div>
          </div>
          <ng-template #templateRegistro>
            <div class="modal-content">
              <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="registroClientes" (ngSubmit)=" editarcliente()">
                  <div class="card-body p-md-2 mx-md-1">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <H2>REGISTRO CLIENTES</H2><br>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 ">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ingrese sus Nombre </mat-label>
                            <input matInput type="text" formControlName="nombre" placeholder="Nombre">
                            <small *ngIf="getNombre.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                              carácteres</small>
                            <small *ngIf="getNombre.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                              carácteres</small>
                            <small
                              *ngIf="getNombre.invalid  && getNombre.touched && !getNombre.errors?.minlength && !getNombre.errors?.maxlength"
                              class="text-danger animated fadeIn">Campo requerido</small>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 ">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ingrese sus Apellidos</mat-label>
                            <input matInput type="text" formControlName="apellido" placeholder="Apellido">
                            <small *ngIf="getApellido.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                              carácteres</small>
                            <small *ngIf="getApellido.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                              carácteres</small>
                            <small
                              *ngIf="getApellido.invalid  && getApellido.touched && !getApellido.errors?.minlength && !getApellido.errors?.maxlength"
                              class="text-danger animated fadeIn">Campo requerido</small>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-widtn">
                            <mat-label>Ingrese su correo</mat-label>
                            <input matInput type="text" formControlName="correo" placeholder="Correo">
                            <small *ngIf="getCorreo.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                              carácteres</small>
                            <small *ngIf="getCorreo.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                              carácteres</small>
                            <small
                              *ngIf="getCorreo.invalid  && getCorreo.touched && !getCorreo.errors?.minlength && !getCorreo.errors?.maxlength"
                              class="text-danger animated fadeIn">Campo requerido</small>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 ">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ingrese sus telefono</mat-label>
                            <input matInput type="text" formControlName="telefono" placeholder="Telefono">
                            <small *ngIf="getTelefono.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                              carácteres</small>
                            <small *ngIf="getTelefono.errors?.maxlength" class="text-danger animated fadeIn">Máximo 10
                              carácteres</small>
                            <small
                              *ngIf="getTelefono.invalid  && getTelefono.touched && !getTelefono.errors?.minlength && !getTelefono.errors?.maxlength"
                              class="text-danger animated fadeIn">Campo requerido</small>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <mat-label>Ingrese su direcion </mat-label>
                            <input matInput type="text" formControlName="direccion" type="text" placeholder="Direccion">
                            <small *ngIf="getdireccion.errors?.minlength" class="text-danger animated fadeIn">Mínimo 6
                              carácteres</small>
                            <small *ngIf="getdireccion.errors?.maxlength" class="text-danger animated fadeIn">Máximo 50
                              carácteres</small>
                            <small
                              *ngIf="getdireccion.invalid  && getdireccion.touched && !getdireccion.errors?.minlength && !getdireccion.errors?.maxlength"
                              class="text-danger animated fadeIn">Campo requerido</small>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6 form-group mt-4">
                          <button type="submit" class="btn btn-success" style="cursor: pointer; left: -105%; top: 150%;"
                            *ngIf="!accionEditar">GUARDAR DATOS</button>
                        </div>
                        <div class="col-md-6 form-group mt-4">
                          <button type="submit" class="btn btn-success mt-5" *ngIf="!accionEditar"> GUARDAR
                            DATOS</button>
                          <button type="submit" class="btn btn-success mt-5" *ngIf="accionEditar"> ACTUALIZAR</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>