<div class="col-md-12" style="margin-top: 60px;">
    <div *ngIf="datos">
    <div class="row"> 
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                <p>productos</p>     
                <mat-form-field>
                    <mat-label>buscar</mat-label>
                    <input matInput (keyup)="applyFilterProductos($event)" placeholder="Filtro" #input>
                </mat-form-field>             
                    
                    <table mat-table [dataSource]="datosInsertados" class="mat-elevation-z2" matSort style="width: 100%;">
                        <!-- idApiKey Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>ID</h4> </th>
                            <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;"> {{row.id}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header><h4>NOMBRE</h4> </th>
                            <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;"> {{row.nombre}} </td>
                        </ng-container>
  
                      <ng-container matColumnDef="precioventa">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>PRECIOVENTA</h4></th>
                          <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;"> {{row.precioventa | currency }} </td>
                      </ng-container>
                     
  
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> <h4>CANTIDAD</h4> </th>
                            <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;"> {{row.cantidad}} </td>
                        </ng-container>       
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
                    </table>        
                </div>               
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
        <div class="card-body">
                      
            <p>productos</p>

        <table *ngIf="datoVentaProductos.length > 0" style="width:100%;">
                         
            <tr>
                
              <th>nombre</th>
              <th>precion</th>
              <th>cantidad</th>
              <th>eliminar</th>
           
            </tr>
            <tr *ngFor="let datos of datoVentaProductos">
              <td>{{datos.nombre}} </td>
              <td>{{datos.precioventa | currency}}</td>
              <td>{{datos.cantidad}}</td>
              <i style="cursor: pointer;" class="fa fa-trash-o" (click)="eliminarProducto(datos)"></i>
            </tr>
          
          </table>
     
    
</div>
</div>
        </div>
    </div>

</div>
</div>
<div class="col-md-6 form-group mt-4">
    <button class="btn btn-primary" type="button" 
    (click)="openModalVenta(templateVenta,'')"> 
    REGISTRAR VENTAS</button> 
  </div>

  <ng-template #templateVenta>
    <div class="modal-content">
      <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body">
    
          <form [formGroup]="registroVenta" (ngSubmit)="crearVenta()" >
            <div class="text-center">
              <H2>REGISTRA VENTA</H2><br>
            </div>
              <div class="form-row">       
               
               
                  
    
                    <div class="col-md-6 form-group">
                      <div role= "group">
                      <label for="fecha">Ingrese la fecha de la compra {{fechaActual | date: 'yyy-mm-dd'}}</label>
                      <input type="text" id="fecha" class="form-control" formControlName ="fecha" placeholder="{{fechaActual | date: 'yyy-mm-dd'}}">
                      <small *ngIf="getFecha?.errors?.required  && getFecha?.touched" class="text-danger animated fadeIn">el campo fecha es requerido</small>
                    </div>
                  </div>
                    
                  
            
                    <div class="col-md-6 form-group">
                      <div role= "group">
                    <label for="precio">Ingrese su precio venta </label>
                    <input type="number" id="precio" class="form-control" formControlName="precio" placeholder="Precio">
                   <small *ngIf="getPrecio?.errors?.required  && getPrecio?.touched" class="text-danger animated fadeIn">el  campo no es valido</small>
                  
                  </div>
                  </div>
              
                  <div class="col-md-6 form-group">
                    <div role= "group">
                  <label for="descripcion">Ingrese su descripcion </label>
                  <input type="text" id="descripcion" class="form-control" formControlName="descripcion" placeholder="Descripcion">
                 <small *ngIf="getDescripcion?.errors?.required  && getDescripcion?.touched" class="text-danger animated fadeIn">el campo no es valido</small>
                
                </div>
                </div>
                
                  
                <div class="col-md-6 form-group">
                  <div role= "group">
                <label for="cantidad">Ingrese  su la cantidad </label>
                <input type="number" id="cantidad" class="form-control" formControlName="cantidad" placeholder="Cantidad">
               <small *ngIf="getCantidad?.errors?.required  && getCantidad?.touched" class="text-danger animated fadeIn">el campo no es valido</small>
              
              </div>
              </div>
              <div class="col-md-6 form-group">
                <div role= "group">
                <label for="producto">productos </label>
                <select type="text" id="producto" class="form-control" formControlName="producto" >
                  <option value=""> seleccione</option>
                <option *ngFor="let producto of listaProductos" [value]="producto.id"> {{producto.nombre}}</option>

                <option *ngFor="let producto of listaProductos" [value]="producto.precioventa"> {{producto.precioventa}} </option>
                
                <option *ngFor="let producto of listaProductos" [value]="producto.imagen"> <img src="{{'data:image/jpg;base64,' + row.imagen}}" /> </option>
                </select>
              </div>
              </div>                   
              <div class="col-md-6 form-group">
                <div role= "group">
              <label for="codigo">Ingrese su codigo del producto </label>
              <input type="text" id="codigo" class="form-control" formControlName="codigo" placeholder="Codigo">
             <small *ngIf="getCodigo?.errors?.required  && getCodigo?.touched" class="text-danger animated fadeIn">el campo no es valido</small>        
            </div>
            </div>
              
    
                <div class="col-md-6 form-group mt-4">
                  <button type="submit" class="btn btn-primary">GUARDAR COMPRA</button>
                  </div>
        
                
              </div>       
              
          </form>
              </div>
                  </div>
     
       
    
     
    </ng-template>
