.cdk-overlay-container {
    z-index: 1070 !important;
}

.table {
    font-size: 12px !important;
}

.my-custom-scrollbar {
    position: relative;
    max-height: 500px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.wapp {
    color: #25d366;
    font-size: 23px;
    cursor: pointer;
}

.grey-bg {
    background-color: #F5F7FA;
}

.fontIcon {
    font-size: 24px;
}

.cursor {
    cursor: pointer;
}

.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}