<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">PRODUCTOS</p>
                        <h3 class="card-title">{{this.totalcantidad}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: orange;"></i>
                            <span class="ml-2"><strong>PRODUCTOS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cases</i>
                        </div>
                        <p class="card-category">VENTAS</p>
                        <h3 class="card-title">{{this.totalventa}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>VENTAS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">send</i>
                        </div>
                        <p class="card-category">COTIZACIONES</p>
                        <h3 class="card-title">{{this.totalcotizacion}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>COTIZACION</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">COTIZACION</p>
                        <h3 class="card-title">{{this.totalcotizacion}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>COTIZACION</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today
                            sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>