<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            


            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">PRODUCTOS</p>
                          <h3 class="card-title">{{this.totalcantidad}}</h3>
                           
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: orange;"></i>
                            <span class="ml-2"><strong>PRODUCTOS</strong> </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cases</i>
                        </div>
                        <p class="card-category">VENTAS</p>
                        <h3 class="card-title">{{this.totalventa}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>VENTAS</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">send</i>
                        </div>
                        <p class="card-category">COTIZACIONES</p>
                        <h3 class="card-title">{{this.totalcotizacion}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>COTIZACION</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">COTIZACION</p>
                        <h3 class="card-title">{{this.totalcotizacion}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="fa fa-spinner fa-spin fa-2x" style="color: rgb(7, 32, 15);"></i>
                            <span class="ml-2"><strong>COTIZACION</strong> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>
  