<div class="col-md-12" style="margin-top: 60px;">
  <div *ngIf="datos">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <br>
            <br>
            <br>
            <div class="text-center">
              <H2>Lista productos</H2><br>
            </div>
            <div class="col-md-4 mb-3 form-group">
              <i class="fa fa-search mr-2" style="font-size: 20px;"></i>
              <div class="col-md-8 mb-3 form-group text-right">
                <mat-form-field>
                  <mat-label>buscar</mat-label>
                  <input matInput (keyup)="applyFilterProductos($event)" placeholder="Filtro" #input>
                </mat-form-field>
              </div>
            </div>
            <table mat-table [dataSource]="datosInsertados" class="mat-elevation-z2" matSort style="width: 100%;">
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h4>NOMBRE</h4>
                </th>
                <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;">
                  {{row.nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h4>IMAGEN</h4>
                </th>
                <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)"> <img
                    src="{{'data:image/jpg;base64,' + row.imagen}}" /> </td>
              </ng-container>
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h4>DESCRIPCION</h4>
                </th>
                <td mat-cell *matCellDef="let row" (click)="agregarProductosData(row)" style="cursor: pointer;">
                  {{row.descripcion }} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" style="display: flex;">
            <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Generar
              cotizacion</button>
          </div>
          <div class="card-body">
            <p>productos</p>
            <div id="htmlData">
              <table *ngIf="productosCarrito.length > 0" style="width:100%;">
                <tr>
                  <th>nombre</th>
                  <th>precio</th>
                  <th>cantidad</th>
                  <th>eliminar</th>
                </tr>
                <tr *ngFor="let datos of productosCarrito">
                  <td>{{datos.nombre}} </td>
                  <td>{{datos.precioventa | currency}}</td>
                  <td>{{datos.cantidad }}</td>
                  <i style="cursor: pointer;" class="fa fa-trash-o" (click)="eliminarProducto(datos)"></i>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total:</td>
                  <td>{{ total | currency }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>